 <!-- Footer -->
 <footer id="footer">
  <div class="footer-content">
      <div class="container">
          <div class="row">
              <div class="col-lg-5">

              </div>
              <div class="col-lg-7">
                  <div class="row">
                      <div class="col-lg-3">
                          <div class="widget">
                              <div class="widget-title">Discover</div>
                              <ul class="list">
                                  <li><a href="/">Home</a></li>
                              </ul>
                          </div>
                      </div>
                      <div class="col-lg-3">
                          <div class="widget">
                              <div class="widget-title">Services</div>
                              <ul class="list">
                                  <li><a href="/">Link</a></li>
                              </ul>
                          </div>
                      </div>
                      <div class="col-lg-3">

                      </div>
                      <div class="col-lg-3">

                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <div class="copyright-content">
      <div class="container">
          <div class="copyright-text text-center">&copy; 2022 360 Photo Ops. All Rights Reserved. </div>
      </div>
  </div>
</footer>
<!-- end: Footer -->