        <!-- Header -->
        <header id="header" data-fullwidth="true">
          <div class="header-inner">
              <div class="container">
                  <!--Logo-->
                  <div id="logo">
                      <a href="/">
                          <span class="logo-default"><img src="/images/logos/360PhotoOps_logo_sm.png" height="75"></span>
                          <span class="logo-dark"><img src="/images/logos/360PhotoOps_logo_sm.png" height="75"></span>
                      </a>
                  </div>
                  <!--End: Logo-->            
                  </div>
                  <!--end: Header Extras-->
                  <!--Navigation Resposnive Trigger-->
                  <div id="mainMenu-trigger">
                      <a class="lines-button x"><span class="lines"></span></a>
                  </div>
                  <!--end: Navigation Resposnive Trigger-->
                  <!--Navigation-->
                  <div id="mainMenu">
                      <div class="container">
                          <nav>
                              <ul>
                                  <li><a href="/">Home</a></li>
                                  <li><a href="/services">Services</a></li>
                                  <li class="dropdown mega-menu-item"><a href="#">Book Us!</a>
                                    <li><a href="#"> </a>
                                  </li>
                              </ul>
                          </nav>
                      </div>
                  </div>
                  <!--end: Navigation-->
              </div>
          </div>
      </header>
      <!-- end: Header -->