<head>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <meta name="author" content="360 Photo Ops" />
  <meta name="description" content="Booking information for 360 Photo Ops in Atlanta, Georgia">
  <link rel="icon" type="image/png" href="/images/logos/360PhotoOpsIcon.png">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <!-- Document title -->
  <title>360 Photo Ops</title>
  <!-- Stylesheets & Fonts -->
  <link href="/css/plugins.css" rel="stylesheet">
  <link href="/css/style.css" rel="stylesheet">
  <!-- LOAD JQUERY LIBRARY -->
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.js"></script>
  <!-- LOADING FONTS AND ICONS -->
  <link href="https://fonts.googleapis.com/css?family=Raleway%3A100%2C600" rel="stylesheet" property="stylesheet" type="text/css" media="all" />
  <link rel="stylesheet" type="text/css" href="/plugins/slider-revolution/fonts/pe-icon-7-stroke//css/pe-icon-7-stroke.css">
  <link rel="stylesheet" type="text/css" href="/plugins/slider-revolution/fonts/font-awesome//css/font-awesome.css">
  <!-- REVOLUTION STYLE SHEETS -->
  <link rel="stylesheet" type="text/css" href="/plugins/slider-revolution//css/settings.css">
  <link rel="stylesheet" type="text/css" href="/plugins/slider-revolution//css/layers.css">
  <link rel="stylesheet" type="text/css" href="/plugins/slider-revolution//css/navigation.css">
  <!-- REVOLUTION JS FILES -->
  <script type="text/javascript" src="/plugins/slider-revolution//js/jquery.themepunch.tools.min.js"></script>
  <script type="text/javascript" src="/plugins/slider-revolution//js/jquery.themepunch.revolution.min.js"></script>
  <!-- SLIDER REVOLUTION 5.0 EXTENSIONS  (Load Extensions only on Local File Systems !  The following part can be removed on Server for On Demand Loading) -->
  <script type="text/javascript" src="/plugins/slider-revolution//js/extensions/revolution.extension.actions.min.js"></script>
  <script type="text/javascript" src="/plugins/slider-revolution//js/extensions/revolution.extension.carousel.min.js"></script>
  <script type="text/javascript" src="/plugins/slider-revolution//js/extensions/revolution.extension.kenburn.min.js"></script>
  <script type="text/javascript" src="/plugins/slider-revolution//js/extensions/revolution.extension.layeranimation.min.js"></script>
  <script type="text/javascript" src="/plugins/slider-revolution//js/extensions/revolution.extension.migration.min.js"></script>
  <script type="text/javascript" src="/plugins/slider-revolution//js/extensions/revolution.extension.navigation.min.js"></script>
  <script type="text/javascript" src="/plugins/slider-revolution//js/extensions/revolution.extension.parallax.min.js"></script>
  <script type="text/javascript" src="/plugins/slider-revolution//js/extensions/revolution.extension.slideanims.min.js"></script>
  <script type="text/javascript" src="/plugins/slider-revolution//js/extensions/revolution.extension.video.min.js"></script>
</head>