        <!-- Topbar -->
        <div id="topbar" class=" topbar-fullwidth dark d-none d-xl-block d-lg-block">
          <div class="container">
              <div class="row">
                  <div class="col-md-6">
                      <ul class="top-menu">
                          <li><a href="#">Phone: +&#49; (&#55;&#55;&#48;) &#53;&#56;&#48;-&#57;&#53;&#48;&#52;</a></li>
                          <li><a href="#">Email: contact@inspiro-media.com</a></li>
                      </ul>
                  </div>
                  <div class="col-md-6 d-none d-sm-block">
                      <div class="social-icons social-icons-colored-hover">
                          <ul>
                              <li class="social-facebook"><a href="https://www.facebook.com/360PhotoOps" target="_new"><i class="fab fa-facebook-f"></i></a></li>
                              <li class="social-twitter"><a href="https://twitter.com/PhotoOps360" target="_new"><i class="fab fa-twitter"></i></a></li>
                              <li class="social-pinterest"><a href="https://www.pinterest.com/360photoops" target="_new"><i class="fab fa-pinterest"></i></a></li>
                              <!-- li class="social-linkedin"><a href="#"><i class="fab fa-linkedin"></i></a></li -->
                              <!-- li class="social-youtube"><a href="#"><i class="fab fa-youtube"></i></a></li-->
                          </ul>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <!-- end: Topbar -->